/* Big tablet to 1200px */
@media only screen and (max-width: 1200px){
    .headingBox{
        position: absolute;
        width: 100%;
        padding: 0 2%;
        top: 50%;
        left: 60%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        
    }
    
    .row{ padding: 0 2%; }
}


/* small tablet to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px){
    header{
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/BANNER1.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/BANNER1.jpg);
    }
    
    h1{
        color: #fff;
    }
    
    .subHeading{ color: #fff; }

    .btn-ghost:link,
    .btn-ghost:visited,
    input[type=submit]{
    background-color: #c4184b;
    border: 1px solid #c4184b;
    color: #fff;
    }

    .btn-ghost:hover,
    .btn-ghost:active{
    border: 1px solid #c4184b;
    }
    
    
}


/* small phones to tablets: 480 to 900px */
@media only screen and (max-width: 900px){
    .whoamiImg {
    height: 350px;
    width: auto;
    
    }
    
}

/* small phones to tablets: 480 to 768px */
@media only screen and (max-width: 768px){
    .whoamiImg {
    height: 300px;
    width: auto;
    
    }

    h2{
        font-weight: 400;
    }

    .line{
        width: 30px;
        height: 3px;
        background: #000;
        margin: 5px;
    }

    nav {
        position: relative,sticky;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    
    .nav-links{
        position: fixed;
        background: #fff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        /* display: none; */
        z-index: 1;
        clip-path: circle(100px at 90% -18%);
        -webkit-clip-path: circle(100px at 90% -18%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links li {
        padding: 25px 0;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -18%);
        -webkit-clip-path: circle(1000px at 90% -18%);
        pointer-events: all;
    }

    .nav-links li a{
        padding: 0;
    }

    /*-----------*/
    /* -Contact- */
    /*-----------*/

    .contactForm{
        font-size: 80%;
    }

    .paddingRow{
        padding: 10px 0;
    }

    .paddingCol{
        padding-bottom: 5px;
        padding-left: 2px;
    }

    .form{
        padding: 40px 0;
    }

}


/* small phones: 0 to 480px */
@media only screen and (max-width: 480px){
    
    .headingBox{
        width: 70%;
        padding: 0 0.5%;
        left: 50%;
    }
    
    h1{
        font-size: 200%;
    }
    
    .whoami{
        text-align: center;
        padding: 0 5%;
    }
    
    h2:after {
        margin: 0 auto;
        margin-top: 30px;
    }
    
    h2 {
        margin-top: 30px;
    }
    
    .whoamiImg{
       padding-left: 10%;
    }
    
    .logoText{
        padding-top: 5%;
    }
    
}





