/* -------------------------------- */
/* BASIC STUFF */
/* -------------------------------- */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #464648;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* Hide scrollbar */
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}



/* -------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------- */

/********* preloader *******/
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after{
    content: "";
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before{
    animation-delay: 0.5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


/**************************/
.row {
    max-width: 1140px;
    margin: 0 auto;
}


section {
    padding: 80px 0;
}

/*-- HEADINGS --*/
h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 300%;
     margin-bottom: 10px;
}
h2{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #c4184b;
    content: " ";
    width: 100px;
    margin-top: 30px;
}

.centeredH2{
    text-align: center;
}
.centeredH2:after{
    display: block;
    height: 2px;
    background-color: #c4184b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 100%;
    word-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 15px;
}

/*-- PARAGRAPHS --*/
.paras{
    line-height: 145%;
    font-size: 80%;
    word-spacing: 2px;
    
}
.centeredPara{
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

/*-- BUTTONS --*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 12px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 80%;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #c4184b;
    border: 1px solid #c4184b;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #c4184b;
    color: #c4184b;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #c4184b;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #c4184b;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #c4184b;
    color: #fff;
}

/* Custumisation*/
.projectBtn{
    margin-top: 20px;
}

/* -------------------------------- */
/* NAVIGATION */
/* -------------------------------- */
nav{
    position: sticky;
    top: 0;
    height: 10vh;
    background: rgba(255, 255, 255, 0.966);
    z-index: 1;
}

.logoText{
    display: flex;
    width: 50%;
    height: 100%;
    padding-top: 1.5%;
    padding-left: 5%;
    z-index: 3;
    /* background: #000; */
}


.nav-links{
    display: flex;
    list-style: none;
    margin-top: -4.5%;
    width: 50%;
    height: 100%;
    /* justify-content: space-around; */
    /* padding-top: 10px; */
    align-items: center;
    margin-left: auto;
}

.nav-links li{
     padding: 0 7%; 
}
.nav-links li a:link,
.nav-links li a:visited{
    color: #464648;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-links li a:hover,
.nav-links li a:active{
    border-bottom: 2px solid #c4184b;
}


/* ------------------------------------------------------------------------------ */
/* -----------------------------  HOME PAGE ------------------------------------- */
/* ------------------------------------------------------------------------------ */


/* -------------------------------- */
/* HEADER */
/* -------------------------------- */

header {
/*    background-color: #c3c1c1;*/
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);*/
    background-image: url(img/BANNER1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headingBox{
    /*float: left;*/
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.bannerImgBox{
    height: 100vh;
    width: auto;
    float: right;
    margin-right: -10%;
}

.bannerImg {
    height: 90vh;
    width: auto;
/*
    width: 500px;
    height: auto;
*/
}


.subHeading{
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 300px;
    font-size: 80%;
    line-height: 145%;
}



/* -------------------------------- */
/* SECTION - WHO AM I */
/* -------------------------------- */

/*
.section-Whoani {
    background-color: #9b9b9b;
}
*/

.whoamiImg {
    height: 400px;
    width: auto;
    
}

.whoami {
    float: right;
}

/* -------------------------------- */
/* SECTION - WHAT DO I DO */
/* -------------------------------- */

.whatdoidoImg {
    height: 400px;
    width: auto;
    float: right;
}

.toprow{
    margin-bottom: 30px;
}

.card{
    text-align: center;
    margin: 35px 0;
    padding: 0 20px;
}
.card h3,
.card span{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.card:hover h3,
.card:hover span{
    
    color: #c4184b;
}


.cardIcon{
    font-size: 150%;
}


/* -------------------------------- */
/* FOOTER */
/* -------------------------------- */

footer {
    background-color: #464648;
    padding: 40px 0;
}

.socialDiv,
.copyrightDiv {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.socialLinks{
    list-style: none;
}

.socialLinks li {
    display: inline-block;
    margin-right: 20px;
}

/* .socialLinks li a:link,
.socialLinks li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.socialLinks li a:hover,
.socialLinks li a:active{
    color: #c4184b;
} */

.socialLinks li a{
    display: flex;
    background: rgb(95, 95, 95);
    height: 35px;
    width: 35px;
    margin: 0 2px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.603),
    -3px -3px 5px -1px rgba(255, 255, 255, 0);
    border: 1px solid rgba(0,0,0,0);
    transition: transform 0.2s;

}
.socialLinks li a i{
    font-size: 50;
    color: rgb(197, 197, 197);
    transition: transform 0.2s;
}

.socialLinks li a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.363),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.288),
    -0.5px -0.5px 0px #464648,
    0.5px 0.5px 0px rgba(0, 0, 0, 0.363),
    0px 12px 10px -10px rgba(0, 0, 0, 0.493);

    border: 1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
}
.socialLinks li a i:hover{
    transform: scale(0.90);
}

.socialLinks li a:hover .ion-social-facebook{
    color: #3b5998;
}
.socialLinks li a:hover .ion-social-instagram{
    color: #f14843;
}
.socialLinks li a:hover .ion-social-linkedin{
    color: #00acee;
}
.socialLinks li a:hover .ion-social-youtube{
    color: #f00;
}

.copyright {
    color: #888;
    font-size: 90%;
}

/* ------------------------------------------------------------------------------ */
/* ---------------------------  CONTACT PAGE ------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* .form{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/BANNER.jpg);
    background-position: center;
    background-size: cover;
} */
.contactForm{
    width: 60%;
    margin: 0 auto;
}
::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
}

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}
input[type=text],
input[type=email]{
    height: 50px;
}

*:focus {outline: none;}



/*     */
.field{
    margin: 20px 0;
}

input{
    background-color: rgb(252, 252, 250);
    box-shadow: 3px 3px 10px -1px #d6d6d6;
}

textarea{
    background-color: rgb(252, 252, 252);
    box-shadow: 6px 6px 10px -1px #d6d6d6;
}


/* ------------------------------------------------------------------------------ */
/* ---------------------------  PROJECTS PAGE ----------------------------------- */
/* ------------------------------------------------------------------------------ */
.mobileviewSection{display: none;}
/* .webviewSection{display: none;} */

.projectSection{
    height: 90vh;
    /* background: #00acee; */
}
.projectCard,
.projectCardM{
    /* background: #343464; */
    box-shadow: 3px 3px 5px -1px rgba(59, 59, 59, 0.603),
    -3px -3px 5px -1px rgba(219, 219, 219, 0);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mainDisplay{
    /* background: #ccc; */
    text-align: center;
    padding: 20px;
}
.mainDisplay p{
    margin: 20px;

}
.cardLogos{
    margin-top: 15px;
    margin-left: 30px;
    height: 30px;
    width: auto;
    float: left;
}
.displayLogos{
    height: 100px;
    width: auto;
    align-self: center;
}


.projectText{
    /* float: right; */
    margin-left: 20%;
}

.innerScroll,
.innerScrollMobile{
    /* background-color: #c4184b; */
    /* box-shadow: inset 2px 2px 10px -1px rgba(102, 102, 102, 0.363),
    inset -2px -2px 10px -1px rgba(206, 206, 206, 0.288); */
    width: 100%;
    height: 365px;
    padding: 10px;
    overflow: auto;
}

.innerScrollMobile{
    height: 450px !important;
}

.projectCard:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 10px -1px rgba(59, 59, 59, 0.603),
    -6px -6px 10px -1px rgba(219, 219, 219, 0);
}
.projectCardM:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 10px -1px rgba(59, 59, 59, 0.603),
    -6px -6px 10px -1px rgba(219, 219, 219, 0);
}

/* .scrollContent{
    height: 2224px;
    overflow-y: scroll;
    background: #ccc;
} */

.project-links,
.project-linksM{
    /* background: #00acee; */
    display: flex;
    list-style: none;
    /* margin-top: -4.5%; */
    width: 50%;
    height: 100%;
    
    align-items: center;
    margin-right: auto;
    margin-left: 10%;
    margin-bottom: 20px;
}

.project-links li,
.project-linksM li{
     padding: 2% 12%; 
     cursor: pointer;
     transition: all 0.2s ease;
}



.project-links li:link,
.project-links li:visited,
.project-linksM li:link,
.project-linksM li:visited{
    color: #464648;
    text-decoration: none;
    font-size: 90%;
    /* border-bottom: 2px solid transparent; */
    background-color: transparent;
    
}

.project-links li:hover,
.project-links li:active,
.project-linksM li:hover,
.project-linksM li:active{
    /* border-bottom: 2px solid #c4184b; */
    background-color: #c4184b;
    color: #fff;
}

.active{
     background-color: #c4184b;
     color: #fff;
}

.dataSheet{
    display: none;
}

/* 
nav{
    position: sticky;
    top: 0;
    height: 10vh;
    background: rgba(255, 255, 255, 0.966);
    z-index: 1;
}

.logoText{
    display: flex;
    width: 50%;
    height: 100%;
    padding-top: 1.5%;
    padding-left: 5%;
    z-index: 3;
    
}


.nav-links{
    display: flex;
    list-style: none;
    margin-top: -4.5%;
    width: 50%;
    height: 100%;
    
    align-items: center;
    margin-left: auto;
}

.nav-links li{
     padding: 0 7%; 
}
.nav-links li a:link,
.nav-links li a:visited{
    color: #464648;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-links li a:hover,
.nav-links li a:active,
.active{
    border-bottom: 2px solid #c4184b;
} */


